* {
    box-sizing: border-box;
}

.margin-box {
    margin-left: 10px;
    margin-right: 10px;
}

.form-input {
    font-size: 15px;
    height: 30px;
    width: 200px;
}

.form-space {
    margin: 0px 10px;
}

.form-submit {
    font-size: 15px;
    height: 30px;
    width: 70px;
}

.icon {
    font-size: 40px;
    margin: 10px;
}

.table.fixed {
    width: 90%;
    margin: auto;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-top: 0;
    font-size: 22px;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 18px;
}

h4 {
    margin-top: 0;
    font-size: 16px;
}

h5 {
    margin-top: 0;
    font-size: 14px;
}

h6 {
    margin-top: 0;
    font-size: 12px;
}

code {
    font-size: 1.2em;
}

ul {
    padding-inline-start: 20px;
}